.div-pai{

    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

@media screen and (max-width: 600px){
}

.div-pai div{

    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    text-align: center;

    flex-grow: 1;
}