$variavel: silver;

@import './header';

@mixin centro(){

    display: flex;
    justify-content: center;
    height: 800px;
    
}

div{

    @include centro();

    img{

        width: 60%;
        height: 500px;
    }
}
