h1{
    color: red;
}

#backgroundimage{
    height: 250px;
    background-color: black;
    background-image: url("https://br.freepik.com/vetores-gratis/fundo-de-textura-empoeirado-grunge_3857029.htm#query=textura&position=0&from_view=keyword&track=sph&uuid=d4822dd5-70e4-4be1-a893-3eee91cf5136");
   
}